<?php
$apiPassphrase='';
$apiKey='';
$apiSecret='';

$currency       = 'EUR';

$activeTrade    = 0;
$percentToSell  = 99;
$percentToBuy   = 99;
$blocks         =  9;
$volatility     = 5.7;
$smaEmaMix      = 15;
$smaBuyShort    = 28;
$smaBuyLong     = 39;
$smaSellShort   = 34;
$smaSellLong    = 46;
$emaBuyShort    = 51;
$emaBuyLong     = 79;
$emaSellShort   = 51;
$emaSellLong    = 64;


// the following are used in the run-test.php script. if you trust the above figures, you don't need to mess with the below

$exportToFile=false;
$startupEur=5000;
$startupLtc=0; // $startupEur/1000;
$smaEmaMixMin=15;
$smaEmaMixMax=15;
$buyMin=99;
$buyMax=99;
$buyInc= 0.1;
$sellMin=99;
$sellMax=99;
$sellInc= 0.1;

$minBlocks= 9;
$maxBlocks= 9;
$volatilityMin=5.70;
$volatilityMax=5.70;
$volatilityInc=0.1;
$smaBuyShortMin=28;
$smaBuyShortMax=28;
$smaBuyLongMin=39;
$smaBuyLongMax=39;
$smaSellShortMin=34;
$smaSellShortMax=34;
$smaSellLongMin=46;
$smaSellLongMax=46;
$emaBuyShortMin=51;
$emaBuyShortMax=51;
$emaBuyLongMin=79;
$emaBuyLongMax=79;
$emaSellShortMin=51;
$emaSellShortMax=51;
$emaSellLongMin=64;
$emaSellLongMax=64;

$data_start_at=explode("\n", 
"332113
330673
327793
322033
310513
287473
241393
149233"
)[ 5];
